---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const tutorials = (await getCollection("tutorials"))
  .filter((tutorial) => tutorial.data.into)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            tutorials.map((tutorial) => (
              <li>
                <div class="flex flex-wrap gap-2 mb-2 items-center">
                  <a
                    href={`/tutorials/${tutorial.data.series}/`}
                    class="flex gap-4 a-link"
                  >
                    <h4 class="title text-xl">{tutorial.data.title}</h4>
                  </a>
                  <p class="text-gray-600">{tutorial.data.description}</p>
                  <FormattedDate date={tutorial.data.pubDate} />
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
